[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tensorflow = "*"
keras = "*"
numpy = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
sklearn = "*"


[dev-packages]

